.btn{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500; 
    color: white;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border-radius: 15px;
    cursor:pointer;
    transition: all 0.3s case 0s;
    text-decoration: none;
    margin-top: 20px;
}

.btn:hover{
    background-color: rgba(0,136,169,0.8); 
}

.headerC{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 250px;
    padding: 30px 10%;
    padding-top: 0;
    margin-right: 5vh;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}