@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.container{
     width: 300px;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    color: white;
    padding-bottom: 50px;
}

.image img{
    border-radius: 10px;
    width: 300px;
    height: 185px;
}

