.container h1,h2,h5,p{
    color: white;
}

.dataContainer{
    display: flex;
    flex-direction: column;
    /* max-width: 768px; */
}

.toContainer{
    display: flex;
    flex-direction: row;
}

.dataImg{
    display: flex;
    flex-direction: row;
    gap: 300px;
    padding: 10px;
}

.descContainer p{
    color: white;
    padding: 30px 5%;
}

.releaseContainer p{
    color: white;
}

.imgContainer img{
    display: flex;
    justify-content: center;
    height: 281px;
    width: 499px;
    border-radius: 10px;
}

.dataContainer button {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500; 
    color: white;
    padding: 3px 25px;
    background-color: rgba(0,136,169,1);
    border-radius: 7px;
    cursor:pointer;
    transition: all 0.3s case 0s;
    text-decoration: none;
    margin: 10px;
}

.dataContainer button:hover{
    background-color: rgba(0,136,169,0.8); 
}