.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 120px;
}

body{
    background-color: rgb(18, 17, 17);
}

.back img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 280x;
}
